<h3>Ledgers list</h3>

<%= link_to 'New Ledger', new_ledger_path, class: "btn btn-small btn-success active" %> <br><br>

<table class=" table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th> <div align="center">Name</th>
      <th> <div align="center">Opening Balance</th>
      <th colspan="3"> <div align="center">Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= ledger.name %></td>
        <td><div align="right"><%= number_to_currency(ledger.opening_balance, :unit => 'INR ') %></td>
        <% if false %>
            <td><div align="center"><%= link_to 'Show', ledger, class: "btn btn-mini btn-info active" %></td>
        <% end %>
        <td><div align="center"><%= link_to 'Edit', edit_ledger_path(ledger), class: "btn btn-mini btn-warning active" %></td>
        <td><div align="center"><%= link_to 'Destroy', ledger, method: :delete, class: "btn btn-mini btn-danger active", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


