<h3 align="center">Listing  <font color="#8a2be2"><%= Ledger.find(params[:id]).name %> </font> Ledger</h3>
<%= link_to 'Back', books_path, class: "btn btn-primary btn-small active" %>
<%= @cash %>
<hr>
<form class="form-horizontal">
  <%= form_tag(books_path, method: "get") do %>
      <%= label_tag(:starting, "Starting Date :") %>
      <%= date_field_tag :starting, params[:starting] %>
      <%= label_tag(:ending, "Ending Date :") %>
      <%= date_field_tag :ending, params[:ending] %>
      <%= submit_tag("Search", class: "btn btn-primary btn-small active") %>
  <% end %>
</form>
<hr>
<table class="table table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th><div align="center"> Date</th>
      <th><div align="center"> Ledger</th>
      <th><div align="center"> Debit Amount</th>
      <th><div align="center"> Credit Amount</th>
      <th><div align="center"> Balance </th>
    </tr>
  </thead>

  <tbody>
  <tr>

    <td colspan="4"><div align="right"> Opening Balance</td>
    <td><div align="right"> <%= number_to_currency(@opening_balance, :unit => 'INR ') %> </div></td>
  </tr>

    <% @books.each do |book| %>
      <tr>
        <%  if book.debit_id == @book.id %>
            <td><%= book.date.strftime("%d-%b-%Y") %></td>
            <td> <%= book.credit.name  %> </td>
            <td><div align="right"><%= number_to_currency(book.amount, :unit => 'INR ') %> </div></td>
            <td> <div align="center"> -- </td>
            <td> <div align="right"> <%= number_to_currency(@opening_balance = @opening_balance - book.amount, :unit => 'INR ') %></td>
        <% end %>

        <%  if book.credit_id == @book.id %>
            <td><%= book.date.strftime("%d-%b-%Y") %></td>
            <td> <%= book.debit.name  %> </td>
            <td> <div align="center"> -- </td>
            <td><div align="right"><%= number_to_currency(book.amount, :unit => 'INR ') %></div></td>
            <td> <div align="right"> <%= number_to_currency(@opening_balance = @opening_balance + book.amount, :unit => 'INR ') %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

